<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.rcm.wicker.quotes">
    
  <application>
    
    <activity
      android:name=".features.list.presentation.QuoteListActivity"
      android:theme="@style/BaseAppTheme">

        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

    </activity>
    
    <activity
      android:name=".features.writer.presentation.QuoteWriterActivity"
      android:theme="@style/BaseAppTheme.NoToolbar"/>
    
  </application>
    
</manifest>
